* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

a {
    text-decoration: none;
    color: #e9cbd5;
    font-size: 19px;
    font-weight: 500;
    margin-right: 70px;
}

body,
html {
    background-color: #0f0c75;
    width: 100%;
    height: 100vh;
}

nav {
    position: relative;
    width: 100%;
    height: 10%;
}

ul {
    position: relative;
    top: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}



.inner-cursor {
    position: fixed;
    left: 10px;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: #F480ED;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
    width: 40px;
    height: 40px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border: 1px solid #F480ED;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
}
